body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  color: purple;
}


.Links {
  display: inline;
  bottom: 0px;
  padding: 15px;
  
}

.page1
.page2 {
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  flex-direction: column;
  position: absolute;

}

a {
  color: white;
  text-decoration: none;
  margin-top: 50px;
  padding: 10px 30px;
  font-size: 2.1vw;
  letter-spacing: 0px;
  font-family: 'FFF Forward';
}

a:hover {
  background-color: #04AA6D;
  transition: 0.2s;
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  letter-spacing: 5px;
  

}

a:after, a:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
  
}

a:hover:after, a:hover:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
  
}

a:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

label {
  margin-left: 5%;
}

.container {
  /* Colors */
  background-color: rgba(0, 0, 0, 0.1);

  /* Rounded border */
  border-radius: 9999px;
}

.container__progress {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Colors */
  background-color: #357edd;
  color: #fff;

  /* Rounded border */
  border-radius: 9999px;
}
